---
blog: news
pageable: true
---
<div class="section">
  <div class="wrapper">
    <div class="sml-c12 med-c8 grid-center">
      <h1>News</h1>

      <% page_articles.each_with_index do |article, i| %>
        <div class="<%= (i == 0) ? '' : 'push-top' %>">
          <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
          <span><%= article.date.strftime('%b %e %Y') %></span>
          <div class="rich-text">
            <%= Kramdown::Document.new(article.body).to_html %>
          </div> <!-- .rich-text -->
          <p><%= link_to 'Permalink', article.url %></p>
        </div>
      <% end %>

      <%= partial "partials/pagination", :locals => { :paginate => paginate } %>
    </div> <!-- .c -->
  </div> <!-- .wrapper -->
</div><!-- .section -->
