<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>
      The Alliance<%= " - #{current_page.data.title}" if current_page.data.title %>
    </title>

    <%= stylesheet_link_tag :app %>
  </head>

  <body class="<%= page_classes %>">
    <div id="site-header" role="banner">
      <div class="wrapper">
        <div class="site-logo sml-c12 med-c3">
          <%= link_to "The <span>Alliance</span>".html_safe, '/' %>
        </div> <!-- .site-logo -->

        <input type="checkbox" id="menu-toggle" />
        <label class="menu-label icon" for="menu-toggle">&#x2630;</label>

        <div id="menu" class="site-nav sml-c12 sml-no-pad med-c9 med-pad" role="navigation">
          <ul>
            <li>
              <%= link_to 'Take Action', '/actions',
                    :class => ("cur" if current_page.url.start_with? "/actions") %>
            </li>
            <li>
              <%= link_to 'Resources', '/resources',
                    :class => ("cur" if current_page.url.start_with? "/resources") %>
            </li>
            <%# TODO: Add back news later %>
            <%#= link_to 'News', '/news',
                  :class => ("cur" if current_page.url.start_with? "/news") %>
            <li>
              <%= link_to 'About', '/about',
                    :class => ("cur" if current_page.url.start_with? "/about") %>
            </li>
            <li>
              <%= link_to 'Suggestions', 'https://goo.gl/forms/aELz0vVgv6Tzabff2',
                    :target => '_blank' %>
            </li>
          </ul>
        </div> <!-- .site-nav -->
      </div> <!-- .wrapper -->
    </div> <!-- #site-header -->

    <div id="site-body" role="main">
      <%= yield %>
    </div> <!-- div#site-body -->

    <%= javascript_include_tag :app %>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87354653-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
