<div class="<%= ' push-top' if !is_first %>">
  <div class="mod mod-with-pad mod-top">
    <h2>
      <% if is_index %><a href="<%= action.url %>"><% end %>
        <%= action.title %>
      <% if is_index %></a><% end %>
    </h2>
  </div> <!-- .mod -->
  <% if action.data.image_url %>
    <div class="mod image">
      <%= image_tag "actions/#{action.data.image_url}",
            :alt => action.data.image_alt ? action.data.image_alt : '' %>
      <% if action.data.image_credit %>
        <p class="small image-credit"><%= action.data.image_credit %></p>
      <% end %>
    </div> <!-- .mod -->
  <% end %>
  <div class="mod mod-with-pad">
    <div class="rich-text">
      <%= Kramdown::Document.new(action.body).to_html %>
    </div> <!-- .rich-text -->

    <% if action.data.button_text && action.data.button_url %>
      <div class="text-center push-top">
        <%= link_to action.data.button_text, action.data.button_url,
              :class => 'btn block', :target => '_blank' %>
      </div> <!-- .push -->
    <% end %>
  </div> <!-- .mod -->
  <div class="mod mod-with-pad mod-bottom">
    <% if action.data.duration %>
      <p><span class="icon left">&#x25d4;</span><%= action.data.duration %></p>
    <% end %>
    <% if action.tags.any? %>
      <p>
        <% action.tags.each do |tag| %>
          <%= link_to tag, "/actions/tags/#{tag}", :class => 'tag' %>
        <% end %>
      </p>
    <% end %>
    <p><%= action.date.strftime('%B %d, %Y') %></p>
  </div> <!-- .mod -->
</div> <!-- .push -->
