<div class="<%= ' push-top' if !is_first %>">
  <div class="mod mod-with-pad mod-top">
    <h2>
      <% if is_index %><a href="<%= action.url %>"><% end %>
        <%= action.title %>
      <% if is_index %></a><% end %>
    </h2>
  </div> <!-- .mod -->
  <div class="mod mod-with-pad">
    <div class="rich-text">
      <%= Kramdown::Document.new(action.body).to_html %>
    </div> <!-- .rich-text -->

    <% if action.data.button_text && action.data.button_url %>
      <div class="text-center push-top">
        <%= link_to action.data.button_text, action.data.button_url,
              :class => 'btn', :target => '_blank' %>
      </div> <!-- .push -->
    <% end %>
  </div> <!-- .mod -->
  <div class="mod mod-with-pad mod-bottom">
    <% if action.data.duration %>
      <p>Takes about <%= action.data.duration %></p>
    <% end %>
    <% if action.tags.any? %>
      <p>
        <% action.tags.each do |tag| %>
          <%= link_to tag, "/actions/tags/#{tag}" %>
        <% end %>
      </p>
    <% end %>
    <p><%= action.date.strftime('%B %d, %Y') %></p>
    <p><%= link_to 'Permalink', action.url %></p>
  </div> <!-- .mod -->
</div> <!-- .push -->
