---
title: Resources
---

<div class="section">
  <div class="wrapper">
    <div class="sml-c12">
      <h1 class="text-center">Resources</h1>
      <hr class="push-top-half" />
    </div> <!-- .c -->

    <div class="sml-c12 med-c8 grid-center push-top-double">
      <div class="mod mod-with-pad">
        <h2>
          <%= link_to 'American Civil Liberties Union', 'https://www.aclu.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          For almost 100 years, the ACLU has worked to defend and preserve the
          individual rights and liberties guaranteed by the Constitution and
          laws of the United States.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Center for Reproductive Rights',
                'https://www.reproductiverights.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          The Center for Reproductive Rights has used the law to advance
          reproductive freedom as a fundamental human right that all governments
          are legally obligated to protect, respect, and fulfill.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Color of Change', 'https://colorofchange.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Color of Change design campaigns powerful enough to end practices that
          unfairly hold Black people back, and champion solutions that move us
          all forward. Until justice is real.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Freedom of the Press Foundation', 'https://freedom.press/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Freedom of the Press Foundation is dedicated to helping support and
          defend public-interest journalism focused on exposing mismanagement,
          corruption, and law-breaking in government.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Human Rights Campaign', 'http://www.hrc.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          HRC is largest national lesbian, gay, bisexual, transgender and queer
          civil rights organization.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Greenpeace', 'http://www.greenpeace.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Greenpeace uses peaceful protest and creative communication to
          expose global environmental problems and to promote solutions
          that are essential to a green and peaceful future.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Mexican American Legal Defense and Educational Fund',
                'http://www.maldef.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          MALDEF is the nation’s leading Latino legal civil rights organization.
          Often described as the “law firm of the Latino community”, MALDEF
          promotes social change through advocacy, communications, community
          education, and litigation in the areas of education, employment,
          immigrant rights, and political access.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'National Association for the Advancement of Colored People',
                'http://www.naacp.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          The mission of the NAACP is to ensure the political, educational,
          social, and economic equality of rights of all persons and to eliminate
          race-based discrimination.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'National Disibility Rights Network',
                'http://www.ndrn.org/index.php',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          The NDRN works to improve the lives of people with disabilities by
          guarding against abuse, advocating for basic rights, and ensuring
          accountability.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'National Suicide Prevention Lifeline',
                'http://suicidepreventionlifeline.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          The Lifeline provides 24/7, free and confidential support for people
          in distress, prevention and crisis resources for you or your loved ones,
          and best practices for professionals.
        </p>
        <p><%= link_to '1-800-273-8255', 'tel:1-800-273-8255' %></p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'National Resources Defense Council', 'https://www.nrdc.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          NRDC works to safeguard the earth—its people, its plants and animals,
          and the natural systems on which all life depends.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Our Revolution', 'https://ourrevolution.com/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Our Revolution will reclaim democracy for the working people of our
          country by harnessing the transformative energy of the
          “political revolution.”
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Planned Parenthood', 'https://www.plannedparenthood.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Planned Parenthood is one of the nation's leading providers of
          high-quality, affordable health care for women, men, and young people,
          and the nation's largest provider of sex education.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'ProPublica', 'https://www.propublica.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          ProPublica is an independent, non-profit newsroom that produces
          investigative journalism in the public interest.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Showing Up for Racial Justice',
                'http://www.showingupforracialjustice.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Through community organizing, mobilizing and education, SURJ moves
          white people to act as part of a multi-racial majority for justice
          with passion and accountability.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Sierra Club', 'http://www.sierraclub.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          The largest grassroots environmental organization in the county.
          They work to protect millions of acres of wilderness and helped
          pass legislation like the Clean Air Act and the Clean Water Act.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Southern Poverty Law Center', 'https://www.splcenter.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          The SPLC is dedicated to fighting hate and bigotry and to seeking
          justice for the most vulnerable members of our society. They have
          great strategies for
          <%= link_to 'responding to everyday bigotry',
              'https://www.splcenter.org/20150126/speak-responding-everyday-bigotry',
              :target => '_blank' %>
          and
          <%= link_to 'reporting hatecrimes', 'https://www.splcenter.org/reporthate',
              :target => '_blank' %>.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'Transgender Law Center', 'http://transgenderlawcenter.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          Transgender Law Center works to change law, policy, and attitudes so
          that all people can live safely, authentically, and free from
          discrimination regardless of their gender identity or expression.
        </p>
      </div> <!-- .mod -->

      <div class="mod mod-with-pad mod-with-top-border">
        <h2>
          <%= link_to 'United We Dream', 'http://unitedwedream.org/',
                :target => '_blank' %>
        </h2>
        <p class="push-top-half">
          UWD seek to address the inequities and obstacles faced by immigrant
          youth and believe that by empowering immigrant youth, we can advance
          the cause of the entire community — justice for all immigrants.
        </p>
      </div> <!-- .mod -->
    </div> <!-- .c -->
  </div> <!-- .wrapper -->
</div><!-- .section -->
